<div style="width: 400px; margin: auto;">
    <div *ngIf="currentTutorial" class="edit-form">
        <h4>Tutorial</h4>
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="currentTutorial.title" name="title" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="currentTutorial.description" name="description" />
            </div>

            <div class="form-group">
                <label>Status:</label> &nbsp;<strong>{{ currentTutorial.published ? "Published" : "Pending" }}</strong>
            </div>

        </form>
        <br>
        <button *ngIf="currentTutorial.published" class="btn btn-success" (click)="updatePublished(false)">
        UnPublish
      </button>
        <button *ngIf="!currentTutorial.published" class="btn btn-success" (click)="updatePublished(true)">
        Publish
      </button>&nbsp;
        <button class="btn btn-danger" (click)="deleteTutorial()">
        Delete
      </button>&nbsp;
        <button type="submit" class="btn btn-primary" (click)="updateTutorial()">
        Update
      </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentTutorial">
        <br />
        <p>Cannot access this Tutorial...</p>
    </div>
</div>